<h2>PLAYER PROFILE: <%= currentUser.dataValues.gamertag %></h2>

<div class="profile-container">
    <main>
        <div class="game-tabs row">
            <button class="tablinks" onclick="openGameTab(event, 'opt_haloMCC')" id="defaultOpen"><h2>HALO MCC</h2></button>
            <button class="tablinks" onclick="openGameTab(event, 'opt_halo5')"><h2>HALO 5</h2></button>
            <button class="tablinks" onclick="openGameTab(event, 'opt_hW2')"><h2>HALO WARS 2</h2></button>
        </div>
            
        <div class="tabcontent row" id="opt_haloMCC">
            <div class=" column">
                <h3>MY PLAYBOOK</h3><br>
                <div class="tabentry">
                    <h5>STRATEGIES</h5>
                    <span class="span-tab"><%= userData.strategies.length %> items</span><br>
                    <a href="/mcc/strategies">Strategies</a>
                </div>
                <div class="tabentry">
                    <h5>WEAPONS</h5>
                    <span class="span-tab"><%= userData.weapons.length %> items</span><br>
                    <ul>
                        <% userData.weapons.forEach((weapon)=>{ %>
                            <% if(weapon.type=='MCC'){ %> 
                                <li id="<%= weapon.id %>"><%= weapon.name %></li><br>
                            <% } %> 
                        <% }) %>
                    </ul>
                </div>
                <div class="tabentry">
                    <h5>MAPS</h5>
                    <span class="span-tab"><%= userData.maps.length %> items</span><br>
                    <% userData.maps.forEach((map)=>{ %>
                        <% if(map.type=='MCC'){ %> 
                            <li id="<%= map.id %>"><%= map.name %></li><br>
                        <% } %> 
                    <% }) %>  
                </div>
                <div class="tabentry">
                    <h5>TEAMMATES</h5><br>
                    <p>(Coming soon...)</p>
                </div>
            </div> 
            <div class="column">
                <h3>PLAYER STATS</h3><br>
                <% if(haloMCC){  %>
                    <%- include('../partials/mccplayerstats.ejs') %> 
                <% } %>
            </div>
        </div>

        <div class="tabcontent row" id="opt_halo5">
            <div class=" column">
                <h3>MY PLAYBOOK</h3><br>
                <div class="tabentry">
                    <h5>STRATEGIES</h5>
                    <span class="span-tab"><%= userData.strategies.length %> items</span><br>
                    <ul>
                        <% userData.strategies.forEach((entry)=>{ %>
                            <% if(entry.gameId==5){ %> 
                                <li><%= entry.description %></li><br>
                            <% } %> 
                        <% }) %>
                    </ul>
                    <a href="/h5/saved/strategies">Saved Strategies</a><br>
                </div> 
                <div class="tabentry">
                    <h5>WEAPONS</h5>
                    <span class="span-tab"><%= userData.weapons.length %> items</span><br>
                    <ul>
                        <% userData.weapons.forEach((weapon)=>{ %>
                            <% if(weapon.type!=='MCC'){ %>
                                <div class="entry-data">
                                    <li id="<%= weapon.id %>"><figure>
                                        <img height="75px" src="<%= weapon.smallIconImageUrl %>">
                                        <figcaption><%= weapon.name %></figcaption>
                                    </figure></li>
                                    <details>
                                        <% halo5.WeaponStats.forEach(gameWeap=>{  %>
                                            <% if(gameWeap.WeaponId.StockId==weapon.weaponId){ %>
                                            <small>
                                                Fired: <%= gameWeap.TotalShotsFired %> <br>
                                                Landed: <%= gameWeap.TotalShotsLanded %> <br>
                                                Headshots: <%= gameWeap.TotalHeadshots %> <br>
                                                Kills: <%= gameWeap.TotalKills %> <br>
                                            </small>
                                            <% } %> 
                                        <% })   %>
                                    </details>
                                </div>
                            <% } %> 
                        <% }) %>
                    </ul>
                    <a href="/h5/saved/weapons">Go to saved weapons</a><br>
                </div>
                <div class="tabentry">
                    <h5>MAPS</h5>
                    <span class="span-tab"><%= userData.maps.length %> items</span><br>
                    <% userData.maps.forEach((map)=>{ %>
                        <% if(map.type!=='MCC'){ %> 
                            <li id="<%= map.id %>"><figure>
                                <img height="75px" src="<%= map.imageUrl %>">
                                <figcaption><%= map.name %></figcaption>
                            </figure></li><br>
                        <% } %> 
                    <% }) %>
                    <a href="/h5/saved/maps">Go to saved maps</a><br>   
                </div>
                <div class="tabentry">
                    <h5>TEAMMATES</h5><br>
                    <p>(Coming soon...)</p>
                </div>
            </div>
            <div class="gampeplay-stats column">
                <h3>PLAYER STATS</h3><br>
                <% if(halo5){  %>
                    <%- include('../partials/h5playerstats.ejs') %> 
                <% } %> 
            </div>
        </div>

        <div class="tabcontent row" id="opt_hW2">
            <div class=" column">
                <h3>MY PLAYBOOK</h3><br>
                <div class="tabentry">
                    <h5>STRATEGIES</h5>
                    <p>(Coming soon...)</p><br>
                </div> 
                <div class="tabentry">
                    <h5>WEAPONS</h5>
                    <p>(Coming soon...)</p><br>
                </div>
                <div class="tabentry">
                    <h5>MAPS</h5>
                    <p>(Coming soon...)</p><br>   
                </div>
                <div class="tabentry">
                    <h5>TEAMMATES</h5><br>
                    <p>(Coming soon...)</p>
                </div>
            </div>
            <div class="gampeplay-stats column">
                <h3>PLAYER STATS</h3><br>
                <div class="tabentry">
                    <p>(Coming soon...)</p>
                </div>
            </div>
        </div>
    </main>
</div>



