<h2>PLAYER PROFILE: <%= currentUser.dataValues.gamertag %></h2>

<div class="profile-container">
    <main>
        <div class="game-tabs row">
            <button class="tablinks" onclick="openGameTab(event, 'opt_haloMCC')" id="defaultOpen"><h2>HALO MCC</h2></button>
            <button class="tablinks" onclick="openGameTab(event, 'opt_halo5')"><h2>HALO 5</h2></button>
            <button class="tablinks" onclick="openGameTab(event, 'opt_hW2')"><h2>HALO WARS 2</h2></button>
        </div>
            
        <div class="tabcontent row" id="opt_haloMCC">
            <div class=" column">
                <h3>MY PLAYBOOK</h3><br>
                <div class="tabentry">
                    <h5>STRATEGIES</h5>
                    <% let mccStrategies=userData.strategies.filter(allStrat=>{return(allStrat.gameId==4)}) %> 
                    <span class="span-tab"><%= mccStrategies.length %> items</span>
                    <% mccStrategies.forEach(strat=>{ %>
                        <li><%= strat.description %> </li><br>
                    <% }) %> 
                    <a href="/mcc/strategies">Strategies</a>
                </div>
                <div class="tabentry">
                    <h5>WEAPONS</h5>
                    <% let mccWeapons=userData.weapons.filter(allWeap=>{return(allWeap.type=='MCC')}) %> 
                    <span class="span-tab"><%= mccWeapons.length %> items</span><br>
                    <ul>
                        <% mccWeapons.forEach(mccWeap=>{ %>
                            <li id="<%= mccWeap.id %>"><%= mccWeap.name %></li><br>
                        <% }) %>
                    </ul>
                </div>
                <div class="tabentry">
                    <h5>MAPS</h5>
                    <% let mccMaps=userData.maps.filter(allMap=>{return(allMap.type=='MCC')}) %> 
                    <span class="span-tab"><%= mccMaps.length %> items</span>
                    <% mccMaps.forEach((map)=>{ %>
                        <li id="<%= map.id %>"><%= map.name %></li><br>
                    <% }) %>  
                </div>
                <div class="tabentry">
                    <h5>TEAMMATES</h5><br>
                    <p>(Coming soon...)</p>
                </div>
            </div> 
            <div class="column">
                <h3>PLAYER STATS</h3><br>
                <% if(haloMCC){  %>
                    <%- include('../partials/mccplayerstats.ejs') %> 
                <% } %>
            </div>
        </div>

        <div class="tabcontent row" id="opt_halo5">
            <div class=" column">
                <h3>MY PLAYBOOK</h3><br>
                <div class="tabentry">
                    <h5>STRATEGIES</h5>
                    <% let h5Strategies=userData.strategies.filter(allStrat=>{return(allStrat.gameId==5)}) %> 
                    <span class="span-tab"><%= h5Strategies.length %> items</span><br>
                    <ul>
                        <% h5Strategies.forEach((entry)=>{ %>
                                <li><%= entry.description %></li><br>
                        <% }) %> 
                    </ul>
                    <a href="/h5/saved/strategies">Saved Strategies</a><br>
                </div> 
                <div class="tabentry">
                    <h5>WEAPONS</h5>
                    <% let h5Weapons=userData.weapons.filter(allWeap=>{return(allWeap.type!=='MCC')}) %> 
                    <span class="span-tab"><%= h5Weapons.length %> items</span><br>                    
                    <ul>   
                        <% h5Weapons.forEach(h5Weap=>{ %>
                            <div class="entry-data">
                                <li id="<%= h5Weap.id %>">
                                    <figure>
                                        <img height="75px" src="<%= h5Weap.smallIconImageUrl %>">
                                        <figcaption><%= h5Weap.name %></figcaption>
                                        </figure>
                                </li>
                                <details>
                                    <% halo5.WeaponStats.forEach(gameWeap=>{  %>
                                        <% if(gameWeap.WeaponId.StockId==h5Weap.weaponId){ %>
                                        <small>
                                            Fired: <%= gameWeap.TotalShotsFired %> <br>
                                            Landed: <%= gameWeap.TotalShotsLanded %> <br>
                                            Headshots: <%= gameWeap.TotalHeadshots %> <br>
                                            Kills: <%= gameWeap.TotalKills %> <br>
                                        </small>
                                        <% } %> 
                                    <% })   %>
                                </details>
                            </div>
                        <% }) %>
                    </ul>
                    <a href="/h5/saved/weapons">Go to saved weapons</a><br>
                </div>
                <div class="tabentry">
                    <h5>MAPS</h5>
                    <% let h5Maps=userData.maps.filter(allMap=>{return(allMap.type!=='MCC')}) %> 
                    <span class="span-tab"><%= h5Maps.length %> items</span><br>
                    <% h5Maps.forEach((map)=>{ %>
                        <li id="<%= map.id %>">
                            <figure>
                            <img height="75px" src="<%= map.imageUrl %>">
                            <figcaption><%= map.name %></figcaption>
                            </figure>
                        </li><br>
                    <% }) %>
                    <a href="/h5/saved/maps">Go to saved maps</a><br>   
                </div>
                <div class="tabentry">
                    <h5>TEAMMATES</h5><br>
                    <p>(Coming soon...)</p>
                </div>
            </div>
            <div class="gampeplay-stats column">
                <h3>PLAYER STATS</h3><br>
                <% if(halo5){  %>
                    <%- include('../partials/h5playerstats.ejs') %> 
                <% } %> 
            </div>
        </div>

        <div class="tabcontent row" id="opt_hW2">
            <div class=" column">
                <h3>MY PLAYBOOK</h3><br>
                <div class="tabentry">
                    <h5>STRATEGIES</h5>
                    <p>(Coming soon...)</p><br>
                </div> 
                <div class="tabentry">
                    <h5>WEAPONS</h5>
                    <p>(Coming soon...)</p><br>
                </div>
                <div class="tabentry">
                    <h5>MAPS</h5>
                    <p>(Coming soon...)</p><br>   
                </div>
                <div class="tabentry">
                    <h5>TEAMMATES</h5><br>
                    <p>(Coming soon...)</p>
                </div>
            </div>
            <div class="gampeplay-stats column">
                <h3>PLAYER STATS</h3><br>
                <div class="tabentry">
                    <p>(Coming soon...)</p>
                </div>
            </div>
        </div>
    </main>
</div>



