
<div class="tabentry">
    <h5>SUMMARY</h5>
    gamertag: <%= halo5.gamertag %>  <br>
    TotalKills: <%= halo5.TotalKills %> <br> 
    TotalDeaths: <%= halo5.TotalDeaths %> <br> 
    TotalAssists: <%= halo5.TotalAssists %> <br>
    TotalGamesCompleted: <%= halo5.TotalGamesCompleted %> <br>
    TotalGamesWon: <%= halo5.TotalGamesWon %> <br>
    TotalGamesLost: <%= halo5.TotalGamesLost %> <br>
    TotalGamesTied: <%= halo5.TotalGamesTied %> <br>
</div> 
       
<div class="tabentry">
    <h5>ASSAULT</h5>
    TotalHeadshots:  <%= halo5.TotalHeadshots %>  <br>
    TotalShotsFired:  <%= halo5.TotalShotsFired %>  <br>
    TotalShotsLanded:  <%= halo5.TotalShotsLanded %>  <br>
    TotalMeleeKills:  <%= halo5.TotalMeleeKills %>  <br>
    TotalAssassinations:  <%= halo5.TotalAssassinations %>  <br>
    TotalGrenadeKills: <%= halo5.TotalGrenadeKills %>  <br>
    TotalPowerWeaponKills:  <%= halo5.TotalPowerWeaponKills %>  <br>
</div>
    

<div class="tabentry">
    <h5>BEST WEAPON</h5>
    WeaponWithMostKills: <%= halo5.WeaponWithMostKills.WeaponId.StockId  %> <br>
    TotalShotsFired: <%= halo5.WeaponWithMostKills.TotalShotsFired  %> <br>
    TotalShotsLanded: <%= halo5.WeaponWithMostKills.TotalShotsLanded  %> <br>
    TotalHeadshots: <%= halo5.WeaponWithMostKills.TotalHeadshots  %> <br>
    TotalKills: <%= halo5.WeaponWithMostKills.TotalKills  %> <br>
</div>
    
    
<div class="tabentry">
    <h5>FULL WEAPONS STATS</h5>
    <details class="entry-data">
        <% halo5.WeaponStats.forEach(weapon=>{  %>
            <h5>ID: <%= weapon.WeaponId.StockId %></h5> <br>
            <small>
                Fired: <%= weapon.TotalShotsFired %> <br>
                Landed: <%= weapon.TotalShotsLanded %> <br>
                Headshots: <%= weapon.TotalHeadshots %> <br>
                Kills: <%= weapon.TotalKills %> <br>
            </small>
        <% })   %>
    </details>
</div>
    
    
    