<div class="stats-profile-display">
    <h3>Summary</h3>
    Gamertag: <%= haloMCC.gamertag %> <br>
    Emblem: <img src="<%= haloMCC.emblem %>"> <br>
    Games Played: <%= haloMCC.gamesPlayed %> <br>
    Wins:  <%= haloMCC.wins %>  <br>
    Losses:  <%= haloMCC.losses %>  <br>
    WinRatio:  <%= haloMCC.winRatio %>  <br>
    Kills per Game:  <%= haloMCC.killsPerGame %>  <br>
    KD Ratio:  <%= haloMCC.killDeathRatio %>  <br>
    Last 20 Record:
    <ol>
        <% haloMCC.last20.forEach(game=>{ %>
            <li>
                <% if(game === -1){ %>
                    <%= 'Loss' %>
                <% } else if (game===1){ %>
                    <%= 'Win' %>
                <% } %>
            </li>
        <% }) %> 
    </ol>
    

    
</div>
