
    <section>
        <% if(gamerInfo) { %>
            <h4>RESULTS FOR:  <%=  gamerInfo.gamertag %>       ||       GAME: <%= gamerInfo.haloGame %> <br></h4> <br>
            <div class="column">
                <h4>PLAYER DATA<i>(based on last 5 matches):</i></h4>
                Avg Kills: <%=  gamerInfo.avgKills %> <br>
                <% if (gamerInfo.killDeathRatio){ %> 
                    Kill-Death Ratio: <%=  gamerInfo.killDeathRatio.toPrecision(2) %> <br>
                    Headshots Per Game:<%=  gamerInfo.headshotsPerGame.toPrecision(2) %> <br>
                <% } else { %>
                    <%= 'No data to display' %> 
                <% } %>  
            </div>
            <div class="column">
                <h4>LAST GAME</h4>
                Result: <% if(gamerInfo.haloGame==='haloMCC'){ %>
                    <% if(lastGame.wonOrLost=== true){ %> 
                        <%= 'WON' %> 
                    <% } else {%>
                            <%= 'LOST' %> 
                    <%  } %>
                <% } else {%> 
                    <% if(lastGame.wonOrLost=== 0){ %> 
                        <%= 'Did not finish' %> 
                    <% } else if(lastGame.wonOrLost=== 1){%>
                        <%= 'Match Lost' %> 
                    <%  } else if(lastGame.wonOrLost=== 2){%>
                        <%= 'Tied' %> 
                    <%  } else if(lastGame.wonOrLost=== 3){%>
                        <%= 'Match Won' %> 
                    <%  } %>
                <% } %> <br>
                Kills: <%= lastGame.matchKills %> <br>
                Deaths: <%= lastGame.matchDeaths %> <br>
                Assists: <%= lastGame.matchAssists %> <br>
                Time Played: <%= lastGame.timePlayed %> <br>
            </div> 
        <% } %>
</section>