<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:<%= process.env.PORT %>/css/style.css " > 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Macondo+Swash+Caps&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno&family=Expletus+Sans&display=swap" rel="stylesheet">
   
    <title>Halo World</title>
</head>
<body>
    <header>
        <h1><span id="special-ha">HA</span><span id="special-l">L</span><span id="special-o">O</span>, <span id="special-ha">W</span><span id="special-o">O</span><span id="special-ha">RLD!</span></h1>
        <h2 class="header">WELCOME, <% if (currentUser) {%>
            <%= currentUser.dataValues.gamertag %>
        <% } else { %>
            <%= 'GUEST' %>
        <% } %>  !</h2>
        <nav> <ul>
            <li><a href="/">Home</a></li> || 
            <!-- HALO WARS 2 MENU -->
            <div class= "nav-dropdown">
                <button class= "drop-btn" id="hw2" onclick="openDropdown(event)">Halo Wars 2</button>
                <ul class= "dropdown-options" id="hw2Options">
                    <li><a href="/saved/weapons">My Weapons</a></li> 
                    <li><a href="/hw2/weapons">Game Weapons</a></li>
                </ul>
            </div> || 
            <!-- HALO 5 MENU -->
             <div class= "nav-dropdown">
                <button class= "drop-btn" id="halo5" onclick="openDropdown(event)">Halo 5</button>
                <ul class= "dropdown-options" id="halo5Options">
                    <li><a href="#">Strategies</a></li> 
                    <li><a id="h5Stats" onclick="openDropdown(event)">H5 Stats ></a></li>
                        <ul class= "dropdown-options submenu" id="h5StatsOptions">
                            <li><a href="/h5/stats">General Player Stats</a></li> 
                        </ul>
                    <li><a href="/h5/saved/weapons">My Weapons</a></li> 
                    <li><a href="/saved/h5/maps">My Maps</a></li> 
                    <li><a href="/h5/weapons">Game Weapons</a></li> 
                    <li><a href="/h5/maps">Game Maps</a></li> 
                    <li><a href="/h5/gameBaseVariants">Game Variants</a></li>
                </ul>
            </div> || 
            <!-- HALO MCC MENU -->
            <div class= "nav-dropdown">
                <button class= "drop-btn" id="mcc" onclick="openDropdown(event)">Halo MCC</button>
                <ul class= "dropdown-options" id="mccOptions">
                    <li><a href="#">Strategies</a></li> 
                    <li><a id="mccStats" onclick="openDropdown(event)">MCC Stats ></a></li>
                        <ul class= "dropdown-options submenu" id="mccStatsOptions">
                            <li><a href="/mcc/stats">General Player Stats</a></li> 
                            <li><a href="/mcc/latest">Last Game</a></li> 
                            <li><a href="/mcc/hist">Recent History</a></li> 
                            <li><a href="/mcc/activity">Activity*</a></li> 
                        </ul>
                </ul>
            </div> || 
            <div class= "nav-dropdown">
                <button class= "drop-btn" id="myProfile" onclick="openDropdown(event)">My Profile</button>
                <ul class= "dropdown-options" id="myProfileOptions">
                        <% if (!currentUser) { %> 
                            <% if (!currentUser) {%>
                                <li><a href="/auth/signup">Sign Up</a></li>
                                <li><a href="/auth/login">Log In</a></li>
                            <% } else { %>
                                <li><a href="/auth/logout">Log Out</a></li>
                                <li><a href="/profile">Profile</a></li>
                            <% } %> 
                        <% } else { %> 
                        <% } %>  
                </ul>

            </div>
            
        </ul></nav>
    </header>
    <%- include('partials/alerts.ejs') %> 
    <%- body %>
    <script src="/js/app.js" ></script>
</body>
</html>