<h2>HALO MCC: GENERAL PLAYER STATS</h2>

<div class="page-display row">
    Gamertag: <%= stats.gamertag %> <br>
    Emblem: <img src="<%= stats.emblem %>"> <br>

    <div class="column">
        <div class="tabentry">
            Games Played: <%= stats.gamesPlayed %> <br>
            Wins:  <%= stats.wins %>  <br>
            Losses:  <%= stats.losses %>  <br>
            WinRatio:  <%= stats.winRatio.toPrecision(2) %>  <br>
            Kills per Game:  <%= stats.killsPerGame.toPrecision(2) %>  <br>
            KD Ratio:  <%= stats.killDeathRatio.toPrecision(2) %>  <br>
        </div>
    </div>
    <div class="column">
        <div class="tabentry">
            <h4>LAST 20 GAMES:</h4>
            <ol>
                <% stats.last20.forEach(game=>{ %>
                    <li>
                        <% if(game === -1){ %>
                            <%= 'Loss' %>
                        <% } else if (game===1){ %>
                            <%= 'Win' %>
                        <% } %>
                    </li>
                <% }) %> 
            </ol>
        </div>
    </div>
</div>


