<h2>HALO 5 MAPS</h2>

<div class="page-display row">
    <form method="GET" action="/h5/maps" id="mapform">
        <label for="maps">Maps:</label>
        <select id="maps" name="id" form="mapform">
            <% mapsList.forEach(map=>{ %> 
               <option value="<%= map.id %>"><%= map.name %></option> 
            <%  }) %> 
        </select>
        <input type="submit" value="GO" class="page-disp-button">
    </form>
</div>
<div class="page-display row">
    <div class="column" id="items-list">
        <ul>
        <%  mapsData.forEach(item=>{ %>
             
            <li class="item-wrapper">
                <div class= "game-item" id= "img-with-name">
                    <img src=<%= item.imageUrl %> height="100px" display="block">
                    <%= item.name %> 
                    <form method="POST" action="/h5/maps">
                        <input type="hidden" type="text" name="userId" value="<% if(currentUser){  %><%= currentUser.dataValues.id %><% }else{ %><%= 'test1' %><% } %>">
                        <input type="hidden" type="text" name="gamertag" value="<% if(currentUser){  %><%= currentUser.dataValues.gamertag %><% }else{ %><%= 'VeryCerebral' %><% } %>">
                        <input type="hidden" type="text" name="mapId" value="<%= item.id %>">
                        <input type="hidden" type="text" name="type" value="<%= item.type %>">
                        <input type="hidden" type="text" name="name" value="<%= item.name %>">
                        <input type="hidden" type="text" name="description" value="<%= item.description %>">
                        <input type="hidden" type="text" name="imageUrl" value="<%= item.imageUrl %>">
                        <input type="submit" value="SAVE" class="page-disp-button">
                    </form>
                </div> 
                <div class="game-item" id="game-item-desc">
                    <u>Modes: </u><% if(item.supportedGameModes){%> 
                        <% item.supportedGameModes.forEach(mode=>{ %> 
                            <%= mode %>
                            <% }) %> 
                        <% } %> 
                        <br>
                    <u>Description: </u><%= item.description %> <br>
                    <a method="GET" href="/variants/<%= item.id %> ">See Variants</a>
                </div>
            </li>
        <% }) %> 
        </ul>
    </div>
</div>


  




<!-- <h2>RESPONSE DATA STRUCTURE</h2>
{
    "name": "Urban",
    "description": "Andesia was the crucible for countless heroes and villains caught in the throes of seething rebellion and righteous excess.",
    "supportedGameModes": [
      "Warzone"
    ],
    "imageUrl": "https://content.halocdn.com/media/Default/games/halo-5-guardians/map-images/warzone/warzone_maps_array08-b2c5175d0e8446c29e4fc6888492e5ff.jpg",
    "id": "c93d708f-f206-11e4-a815-24be05e24f7e",
    "contentId": "c93d708f-f206-11e4-a815-24be05e24f7e"
  }, -->