<h2>HALO 5: </h2>
<%= matchData[0].Players[0].Player.Gamertag %> 

<% matchData.forEach(match=>{ %> 
    <h4><%= match.MapId %> </h4>
    Date: <%= match.MatchCompletedDate.ISO8601Date %>, Duration: <%= match.MatchDuration %> <br>
    K: <%= match.Players[0].TotalKills %> <br>
    D: <%= match.Players[0].TotalDeaths %> <br>
    A: <%= match.Players[0].TotalAssists%> <br>
    <% }) %> 
    "MatchDuration": "PT8M42.9534149S",
    "MatchCompletedDate": {
      "ISO8601Date": "2020-10-17T00:00:00Z"
    
    <p >
        Links,Id,HopperId,MapId,MapVariant,GameBaseVariantId,GameVariant,MatchDuration,MatchCompletedDate,Teams,Players,IsTeamGame,SeasonId,MatchCompletedDateFidelity
    
        {
            "Links": {
              "StatsMatchDetails": {
                "AuthorityId": "spartanstats",
                "Path": "h5/arena/matches/26697cfb-d2a6-4e1e-9c98-5b7250558591",
                "QueryString": null,
                "RetryPolicyId": "exponentialretry",
                "TopicName": "",
                "AcknowledgementTypeId": 0,
                "AuthenticationLifetimeExtensionSupported": false,
                "ClearanceAware": false
              },
              "UgcFilmManifest": {
                "AuthorityId": "ugc",
                "Path": "/h5/films/26697cfb-d2a6-4e1e-9c98-5b7250558591",
                "QueryString": "?view=film-manifest",
                "RetryPolicyId": "exponentialretry",
                "TopicName": "",
                "AcknowledgementTypeId": 0,
                "AuthenticationLifetimeExtensionSupported": false,
                "ClearanceAware": false
              }
            },
            "Id": {
              "MatchId": "26697cfb-d2a6-4e1e-9c98-5b7250558591",
              "GameMode": 1
            },
            "HopperId": "4631ebf5-f414-44d3-ae51-4b00d8a206a0",
            "MapId": "ce1dc2de-f206-11e4-a646-24be05e24f7e",
            "MapVariant": {
              "ResourceType": 3,
              "ResourceId": "183acf6b-1d50-4f1a-a955-9a7af987957b",
              "OwnerType": 3,
              "Owner": ""
            },
            "GameBaseVariantId": "257a305e-4dd3-41f1-9824-dfe7e8bd59e1",
            "GameVariant": {
              "ResourceType": 2,
              "ResourceId": "6259118f-3f77-4626-baad-e558648c1d40",
              "OwnerType": 3,
              "Owner": ""
            },
            "MatchDuration": "PT8M42.9534149S",
            "MatchCompletedDate": {
              "ISO8601Date": "2020-10-17T00:00:00Z"
            },
            "Teams": [
              {
                "Id": 0,
                "Score": 46,
                "Rank": 2
              },
              {
                "Id": 1,
                "Score": 50,
                "Rank": 1
              }
            ],
            "Players": [
              {
                "Player": {
                  "Gamertag": "VeryCerebral",
                  "Xuid": null
                },
                "TeamId": 1,
                "Rank": 1,
                "Result": 3,
                "TotalKills": 18,
                "TotalDeaths": 9,
                "TotalAssists": 10,
                "PreMatchRatings": null,
                "PostMatchRatings": null
              }
            ],
            "IsTeamGame": true,
            "SeasonId": "",
            "MatchCompletedDateFidelity": 1
          },
    </p>

