<h2>HALO 5: EDIT STRATEGY</h2>
<div class="page-display row">  
    <form method="POST" action="/h5/saved/strategies/edit/<%= prevValues.id  %>/?_method=PUT " id="strategy-form">
        <label for="weapChoice">Use with: </label>
        <select id="weapChoice" name="weapChoice" form="strategy-form">
            <% savedWeaps.forEach(weap=>{ %> 
               <% if(prevValues.weapons[0].id==weap.id){ %>
                    <option selected="selected" value="<%= weap.id %>"><%= weap.name %></option>  
                <% } else {%> 
                    <option value="<%= weap.id %>"><%= weap.name %></option> 
                <% } %>
            <% }) %> 
        </select>
    
        <label for="mapChoice">Location: </label>
        <select id="mapChoice" name="mapChoice" form="strategy-form">
            <% savedMaps.forEach(map=>{ %> 
                <% if(prevValues.maps[0].id==map.id){ %>
                    <option selected="selected" value="<%= map.id %>"><%= map.name %></option>  
                <% } else {%>
                    <option value="<%= map.id %>"><%= map.name %></option> 
                <%  } %> 
            <% }) %> 
        </select><br>
    
        <label for="description">Enter a strategy: </label><br>
        <textarea class="enter-strategy" type="text" name="description" id="description"><%= prevValues.description %> </textarea>
        <input type="hidden" type="text" name="userId" value="<% if(currentUser){  %><%= currentUser.dataValues.id %><% }else{ %><%= 'test1' %><% } %>">
        <input type="hidden" type="text" name="gamertag" value="<% if(currentUser){  %><%= currentUser.dataValues.gamertag %><% }else{ %><%= 'VeryCerebral' %><% } %>">
        <br>
        <span class="span-tab"><input type="submit" value="UPDATE" class="page-disp-button"></span>
    </form>
</div>

<!-- SELECT * FROM strategies LEFT JOIN "mapStrategies" ON (strategies.id="mapStrategies"."strategyId") LEFT JOIN maps ON (maps.id="mapStrategies"."mapId"); -->