<div class="page-display row">
    <h2>HALO 5: GAME STRATEGIES</h2>
    <span class="span-tab">
        <button class="page-disp-button"><a href="/h5/saved/strategies/new">NEW STRATEGY</a></button>
        <button class="page-disp-button"><a href="/h5/weapons">ADD WEAPONS</a></button>
        <button class="page-disp-button"><a href="/h5/maps">ADD MAPS</a></button>
    </span>
</div>

<%  entries.forEach(entry=>{ %> 
<div class="page-display row">
    <div class="column">
        <h3>DETAILS:</h3>
        <figure>
            <img height="75px" src="<%= entry.weapons[0].smallIconImageUrl %>">
            <figcaption><%= entry.weapons[0].name %></figcaption>
        </figure>
        <figure>
            <img height="100px" src="<%= entry.maps[0].imageUrl %>">
            <figcaption><%= entry.maps[0].name %></figcaption>
        </figure><br>
        ADDED: <%= entry.createdAt %> <br>
        WEAPON TYPE: <%= entry.weapons[0].type %><br>
        MAP MODES: (Coming Soon...)<br>
        TEAMMATES: (Coming Soon...)<br>
    </div>
                 
    <div class="column">
        <h3>DESCRIPTION:</h3>
        <div class="tabentry">
            <%= entry.description %>
        </div>
        <button class="page-disp-button"><a href="/h5/saved/strategies/edit/<%= entry.id  %>">EDIT</a></button>
        <form method="POST" action="/h5/saved/strategies/<%= entry.id %>/?_method=DELETE ">
            <input type="hidden" type="text" name="stratId" value="<%= entry.id %> ">
            <input type="submit" value="DELETE" class="page-disp-button">
        </form>
    </div>  
</div>
<% }) %>



